/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ff66b2;
    display: flex;
    flex-wrap: wrap;
}

h1, h2 {
    color: #4CAF50;
    width: 100%;
}

#mainMenu, #purchaseMenu, #productMenu {
    flex: 1;
    margin: 10px;
}

#menu, #price, #description {
    font-size: 18px;
    color: #333;
}

#orderButton, #buyButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.donut {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.donut img {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 5px;
}
